
# Binaries
bin/
testbin/
*.out
*.test
manager

# Kubernetes Generated
*.yaml
!config/**/*.yaml
!examples/*.yaml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Go
vendor/
go.work
go.work.sum

# OS
.DS_Store

# Temporary
tmp/
